body {
    background-color: rgb(251, 254, 251);
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 0rem;
}

h1 {
    font-size: 3rem;
    text-align: left;
}

h2 {
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

p {
    font-size: 1.2rem;
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
}

.button {
    background-color: rgb(189, 130, 101);
    color:rgb(251, 254, 251);
    padding: 0.5rem;
    border-style: none;
}

.button:hover {
    background-color: rgb(208, 184, 172)
}

header{ 
    background-color: rgb(189, 130, 101);
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(189, 130, 101);
    max-width: 20rem;
}

a {
    color: inherit;
    text-decoration: inherit; 
  }

nav ul {
    list-style: none;
    text-align: center;
    color: rgb(208, 184, 172);
    word-spacing: 4rem;
    font-size: 1.2rem;
}

nav li {
    display: inline-block;
    color: inherit;
    text-decoration: inherit;
}

nav li:hover {
    color: rgb(189, 130, 101);
}

.container {
    position: relative;
}

.photo {
    width: 100%;
}

.banner {
    display: block;
    position: absolute;
    padding-left: 3rem;
    color: rgb(189, 130, 101);
}

#text {
    margin-top: -1rem;
    margin-bottom: 2rem;
} 

section {
    display: flex;
    width: 100%;
}

article {
    position: relative;
    display: 1;
    width: 100%;
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 5rem;
    color: rgb(251, 254, 251);
    background-color: rgb(208, 184, 172);
    padding-bottom: 20rem;
    text-align: center;
    overflow: hidden;
}

#photo2 {
    width: 100%;
    padding-bottom: 2rem;
}

#photo2:hover {
    -webkit-transform: scale(1);
    transform: scale(1.5);
}

.produtos {
    position: absolute;
}

footer {
    display: flex;
    max-width: 100%;
    padding: 1rem;
}

footer > div > img { 
    background-color: rgb(189, 130, 101);
    padding: 1rem;
    width: 5rem;
}

.copy { 
    justify-content: right;
    padding-top:2rem;
    padding-left: 50%;
    color: rgb(208, 184, 172);
}