body {
    background-color: rgb(251, 254, 251);
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 0rem;
}

h1 {
    font-size: 3rem;
    text-align: left;
}

h2 {
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

p {
    font-size: 1.2rem;
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
}

header{ 
    background-color: rgb(189, 130, 101);
    padding: 1.7rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(189, 130, 101);
    padding: 1rem;
    max-width: 20rem;
}

a {
    color: inherit;
    text-decoration: inherit; 
  }

nav ul {
    list-style: none;
    text-align: center;
    color: rgb(208, 184, 172);
    word-spacing: 4rem;
    font-size: 1.2rem;
}

nav li {
    display: inline-block;
    color: inherit;
    text-decoration: inherit;
}

nav li:hover {
    color: rgb(189, 130, 101);
}

.container {
    position: relative;
}

.photo {
    max-width: 100%;
    min-width: 1080px;
}

.banner {
    display: block;
    position: absolute;
    padding-left: 3rem;
    color: rgb(189, 130, 101);
}

#text {
    margin-top: -1rem;
    margin-bottom: 2rem;
} 

.glow {
    width: 10rem;
    height: 3rem;
    border: none;
    outline: none;
    color: rgb(251, 254, 251);
    background: rgb(189, 130, 101);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 1rem;
}

.glow:before {
    content: '';
    background: linear-gradient(45deg, rgb(248, 208, 157), rgb(197, 136, 105), rgb(234, 177, 148), rgb(230, 203, 191), rgb(228, 95, 23), rgb(184, 177, 173), rgb(237, 179, 151), rgb(237, 175, 143), rgb(216, 177, 158));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow:hover:before {
    opacity: 1;
}

.glow:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(189, 130, 101);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 200% 0; }
    100% { background-position: 0 0; }
}


section {
    display: flex;
    margin: auto;
}

article {
    position: relative;
    display: 1;
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 5rem;
    color: rgb(251, 254, 251);
    background-color: rgb(208, 184, 172);
    padding-bottom: 20rem;
    text-align: center;
    overflow: hidden;
}

#photo2 {
    width: 100%;
    padding-bottom: 2rem;
}

#photo2:hover {
    -webkit-transform: scale(1);
    transform: scale(1.5);
}

.produtos {
    position: absolute;
}

footer {
    display: flex;
    max-width: 100%;
    padding: 1rem;
}

footer > div > img { 
    background-color: rgb(189, 130, 101);
    padding: 1rem;
    width: 5rem;
}

.copy { 
    justify-content: right;
    padding-top:2rem;
    padding-left: 50%;
    color: rgb(208, 184, 172);
}